# Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc

# Data & Database (Keep folder structure, ignore contents)
data/weather.db
data/raw/*.csv
data/processed/*.csv



# Notebook Checkpoints
.ipynb_checkpoints/